@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

td:nth-of-type(1):before { content: "Denominazione"; }
td:nth-of-type(2):before { content: "Residenza"; }
td:nth-of-type(3):before { content: "Indirizzo"; }

}
