
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

td:nth-of-type(1):before { content: "Nome"; }
td:nth-of-type(2):before { content: "Cognome"; }
td:nth-of-type(3):before { content: "Anno diploma"; }
td:nth-of-type(4):before { content: "Descrizione"; }

}