
form[name="login"] {
  width: 40%;
}

form[name="login"] tr {
  border-bottom: 0px;
}

input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default) {
  background-color: lightgrey;
}

#lista tr {
  cursor: pointer;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){
  background-color: #f2f2f2;
  }

#customers tr:hover {
  background-color: #ddd;
  }
  
#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}