#lista tr {
  cursor: pointer;
}

.table-fill {
  background: white;
  border:0;
  border-radius:3px;
  border-collapse: collapse;

  margin: auto;
  /*max-width: 1500px;*/
  padding:5px;
  width: 90%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.0);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#000;

  border-right: 1px solid #343a45;
  font-weight: 10%;
  padding:15px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
td a {
    text-decoration: none;
    color: red;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
/*tr:hover td {
    color:#FFFFFF;
  background:linear-gradient(gray, white);
  
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
        transition: 1s;
}
 */
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
/*tr:nth-child(odd):hover td {
  background:linear-gradient(white, gray);
        transition: 1s;
}*/

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:8px;
  text-align:left;
  vertical-align:middle;
  font-weight:10%;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

#button1 {
  width: 10%;
  left: 70.60%;
  padding: 12px;
  margin-left:5%;
 
}
#button2 {
  width: 10%;
  left: 80.65%;
  padding: 12px;
  margin:10px;
 
}

input[type=date],input[type=number],input[type=text],input[type=password], select, textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin:10px;
 
}

.pagina
 {
  width: 3%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  margin:10px;
}

input[type=submit] {
  background-color: gray;
  color: white;
  padding: 15px 32px;
  border: none;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
  margin: 4px 2px;
  font-size: 16px;
  position: absolute;
}


.footer-bot {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  position: right;
}

#logo
{
  position: absolute;
  right:1.1rem;
  margin: -0.8rem;
 
}

form{

  margin-bottom: 100px;
}

#fontupper
{
  color: black;
  text-align: left;
  font-size: 20px!important;
  font-weight: bold;
  padding-left: 20px;
}

#fontdiplomati
{
  text-shadow: 0px -2px 0px #271b13,
  0px 2px 3px rgb(39, 27, 19);
 color: #d67507;
  text-align: center;
  font-size: 80px;
  /*line-height: 60px;*/
  font-weight: bold;
  padding-left: 20px;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	


}

.btn {
  display: inline-block;
  padding: 9px 12px;
  padding-top: 7px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #5e5e5e;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #d1dade;
  -webkit-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-image: none !important;
  border: none;
  text-shadow: none;
  box-shadow: none;
  transition: all 0.12s linear 0s !important;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  .btn-cons {
  margin-right: 5px;
  min-width: 120px;
  margin-bottom: 8px;
  }
  .btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  }
  .btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  }
  .btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  }
  .btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  }
  .btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
  }
  .btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  }
  .btn-white {
  color: #5e5e5e;
  background-color: #fff;
  border: 1px solid #e5e9ec;
  }
  .btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  }
  .btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
  border-color: transparent;
  }
  .btn-link {
  color: #5e5e5e;
  background-color: transparent;
  border: none;
  }
  .btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
  border-color: transparent;
  }
  .btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.15),0 1px 1px rgba(0,0,0,0.075);
  }

  select {
    min-width:265px;
    min-height: 45px;
    border-width: 3px;
    border-color: rgba(50, 50, 50, 0.14);
    margin: 10px 10px 10px 0px;
}