{* Script Princiale(Tooltip) *}
<script src="js/index.js"></script>
{* pie di pagina per tutto il sito *}

<img id="logo" src="img/logo.png"  height="80" width="180">
<BR><BR><BR>
<h2>{if $smarty.session.login}Login: {$smarty.session.user}{/if}</h2>
{* Bolo - footer *}
<div>
     ITIS Leonardo Da Vinci Parma - 

     {php}
          $currentURL = $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI'];
          $urlHash = md5($currentURL);
          $pageCode = substr($urlHash, 0, 4) . substr($urlHash, -4);

          echo strtoupper($pageCode);
     {/php}
<div>

