{* pagina login  *}

{config_load file="config.conf"}
<html>
<head >
<title>ITIS </title>


{include file="header.tpl"}

</head>

<body>
<div class="container">



{include file="intestazione.tpl"}
<h1><!--{#titolo#}-->ITIS - Login </h1>

</header>

{include file="menu.tpl"}

	<div class="content slide">     <!--	Add "slideRight" class to items that move right when viewing Nav Drawer  -->
		<ul class="responsive">

			<li class="header-section">
			</li>

<li class="body-section">
<center> 

{if $action == "login"}

    <form name="login" action="{$SCRIPT_NAME}?action=validate&from={$from}" method="post">
      <!--value='{$smarty.request.user}'--> 
          <!--<td>User</td>-->
         <input type=text name="user" placeholder="Username"> 
        
          <!--<td>password</td>-->
         <input type=password name="passwd" placeholder="Password">
       
        </br>
            <button class="btn" type="submit">login</button>
        
    
   
    </form>

<!--prova-->
{else}
  <form name=login action="{$SCRIPT_NAME}" method="post">
  <h2>User Password incorrect! </h2>

  <input type="submit" value="back">
  </form>
{/if}
</center>

</li>
			<li class="footer-section">
				{include file="footer.tpl"}
			</li>
		</ul>
	</div>
</div>

</body>
</html>

