<nav class="slide">
		<ul>
			<li>
               <a href="index.php">HOME</a>
            </li>
            
            {*$smarty.session.auth == $smarty.const.DIPLOMATO) ||*} 
            {if (!$smarty.session.login) }
            <li>
                 <a  href="index.php?lista=aziende">AZIENDE</a>
            </li>
            {/if}
            {if ($smarty.session.auth == $smarty.const.AZIENDA) || (!$smarty.session.login) }
            <li>
                <a  href="index.php?lista=diplomati">DIPLOMATI</a>
            </li>
            {/if}
            {if !$smarty.session.login}
                
                <li> <a href="login.php">LOGIN</a></li>
                {/if}
             {if $smarty.session.login}
                
                <li> <a href="profilo.php">MODIFICA PROFILO</a></li>
                <li  ><a href="logout.php">LOGOUT</a> </li>
                {/if}
		</ul>
	</nav>

  